#mahajan3{
    font-size:30px;
}
#mahajan1 li a{
    font-size:22px;
}
#mahajan2{
    font-size:22px;
}
.carousel {
    background: #512DA8;
  }
  .carousel .carousel-item {
    height: 300px;
  }
  .carousel .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
  }
  #carouselButton {
    right: 0px;
    position: absolute;
    bottom: 0px;
    z-index: 1;
  }

  /* here now i style footer */
  footer{
    background-color:grey;
     
  }
  footer li a{
      color:black;
      text-decoration:none;
  }
  footer a{
    color:black;
    text-decoration:none;
  }
  footer a:hover{
    color:green;
    text-decoration:none;
  }
  
  body{
    background-color:antiquewhite;
  }